<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<meta name="google-site-verification" content="yoQiAW_sA-XWmeHzYp7EeWnnRUgB5ME0VZKwVraVaLk" />
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">home</a></li>
		        	<li><a href="/about">about</a></li>
	        		<li><a href="../assets/CV_general2.pdf">CV</a></li>
              		<li><a href="/science">science</a></li>
              		<li><a href="/art">art</a></li>
             		<li><a href="/teaching">teaching</a></li>
	       			<li><a href="/projects">projects</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:argwood@uchicago.edu">email</a></li>
	        		<li><a href="https://github.com/argwood">github</a></li>
              		<li><a href="https://linkedin.com/in/arin-r-greenwood">linkedin</a></li>
              		<li><a href="https://instagram.com/argonarcher">instagram</a></li>
              		<li><a href="https://twitter.com/argwood">twitter</a></li>
              		<li><a href="https://www.etsy.com/shop/ArgonArcherArt">etsy</a></li>
				</ul>
			</footer>
		</body>
	</html>
